$lt-xsmall: 'max-width: 599px';
$gt-xsmall: 'min-width: 600px';
$lt-medium: 'max-width: 959px';
$gt-medium: 'min-width: 960px';
$lt-large: 'max-width: 1279px';
$gt-large: 'min-width: 1280px';
$lt-xlarge: 'max-width: 1439px';
$gt-xlarge: 'min-width: 1440px';
